<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StyleSeatNative.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07CB0E2C1DDE578500C7797C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07CB0E401DDE578500C7797C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07CB0E4B1DDE578500C7797C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
